*{
    font-family: monospace;
}
body, ul, li{
    margin: 0;
    padding: 0;
}
p, h1, h2, li{
    color: aqua;
}
body{
    background: linear-gradient(to right, lavenderblush, white)
}
.content{
    width: 96%;
    max-width: 1200px;
    height: 700px;
    margin: 20px auto;
    background: url(../img/computer.jpg) no-repeat;
    background-size: 1200px 700px;
}
header{
    background: grey;
    padding: 20px;
    opacity: 0.7;
}
header h2{
    max-width: 200px;
    text-transform: uppercase;
    font-size: 50px;
    position: absolute;
    margin: 0;
    float: left;
}
header nav{
    float: right;
    margin-top: 20px;
    margin-right: 30px;
}
header:after{
    display: block;
    content: "";
    clear: both;
}
header nav li{
    list-style-type: none;
    float: left;
    margin-left: 30px;
}
header nav li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
header nav li a:hover{
    color: coral;
}
header nav li a.current{
    color: coral;
}

section{
    margin: 150px 6%;
}
section .counter{
    max-width: 300px;
    background:aliceblue;
    padding: 10px 10px;
    opacity: 0.7;
    float: right;
}

section .counter p{
    color: brown;
}
section .counter button{
    background-color: blue;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    left: 35%;
    padding: 5px 10px;
}
section .counter button a{
    text-decoration: none;
    color: white;
}
section .counter button:hover{
    background-color: darkorange;
}

